<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<context-param>
		<param-name>drivername</param-name>
		<param-value>com.mysql.jdbc.Driver</param-value>
	</context-param>
	
	<context-param>
		<param-name>dburl</param-name>
		<param-value>jdbc:mysql://localhost:3306/mb2db</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbusername</param-name>
		<param-value>root</param-value>
	</context-param>
	
	<context-param>
		<param-name>dbpassword</param-name>
		<param-value></param-value>
	</context-param>
	
	<welcome-file-list>
		<welcome-file>add.html</welcome-file>
	</welcome-file-list>
    
    
	<servlet>	
		<servlet-name>apple</servlet-name>
		<jsp-file>/add.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>apple</servlet-name>
		<url-pattern>/addj</url-pattern>
	</servlet-mapping>
</web-app>